/* line 14, ../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 17, ../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
  color: black;
  background: white;
}

/* line 19, ../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 21, ../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 23, ../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 25, ../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: "" "";
}
/* line 96, ../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
}

/* line 27, ../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

@font-face {
  font-family: Purisa;
  src: url(/resources/fonts/Purisa.ttf) format("truetype");
}

/* line 16, ../_sass/main.scss */
html {
  height: 100%;
}

/* line 18, ../_sass/main.scss */
body {
  background-color: #EDEFF4;
  height: 100%;
  text-align: center;
  padding: 0 10%;
}
/* line 23, ../_sass/main.scss */
body section {
  clear: both;
  max-width: 780px;
  margin: 0 auto;
  text-align: left;
}
/* line 28, ../_sass/main.scss */
body section a {
  color: black;
  text-decoration: none;
}
/* line 30, ../_sass/main.scss */
body section .link-list {
  background: #37DC74;
  position: relative;
  width: 109%;
  left: -4.5%;
  text-align: center;
  margin: 0 0 7px 0;
}
/* line 37, ../_sass/main.scss */
body section .link-list:before, body section .link-list:after {
  content: " ";
  border-style: solid;
  border-width: 15px;
  height: 0;
  width: 0;
  position: absolute;
  z-index: -1;
  bottom: -15px;
}
/* line 47, ../_sass/main.scss */
body section .link-list:before {
  border-color: transparent #203d2b transparent transparent;
  left: -15px;
}
/* line 51, ../_sass/main.scss */
body section .link-list:after {
  border-color: transparent transparent transparent #203d2b;
  right: -15px;
}
/* line 55, ../_sass/main.scss */
body section .link-list li {
  font-family: Purisa;
  display: inline-block;
  padding: 7px;
}
/* line 59, ../_sass/main.scss */
body section .link-list li a {
  color: black;
  text-decoration: none;
}
/* line 65, ../_sass/main.scss */
body section #content {
  font-size: 20px;
  font-family: "Trebuchet MS", Georgia, Verdana, Arial, sans-serif;
  background: white;
  padding: 3%;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
  border: 1px solid darkgrey;
}
/* line 74, ../_sass/main.scss */
body section #content p {
  text-indent: 4em;
  line-height: 1.5em;
  padding-bottom: 1em;
}

/* line 83, ../_sass/main.scss */
header {
  margin: 0 -8%;
  font-family: Purisa;
}
/* line 85, ../_sass/main.scss */
header div {
  width: 150px;
}
/* line 89, ../_sass/main.scss */
header div.name {
  float: left;
  font-size: 150%;
  padding: 34px 0;
}
/* line 95, ../_sass/main.scss */
header div.bicepts {
  float: right;
  height: 116px;
  background-image: url("../img/HTML5cepts_small.png");
}
/* line 101, ../_sass/main.scss */
header nav {
  font-size: 18px;
  padding-top: 3em;
}
/* line 104, ../_sass/main.scss */
header nav a {
  color: black;
  display: inline-block;
}

/* line 113, ../_sass/main.scss */
footer {
  clear: both;
  font-size: 10px;
  color: grey;
  padding: 3px;
}

/* line 120, ../_sass/main.scss */
mark {
  background: rgba(255, 0, 0, 0);
  -moz-transition-property: background 1s ease-in;
  -webkit-transition-property: background 1s ease-in;
  -o-transition-property: background 1s ease-in;
  transition-property: background 1s ease-in;
  -moz-transition-duration: 1s;
  -webkit-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
}
