/* line 17, ../../../../../../home/kerryck/.rvm/gems/ruby-1.9.3-p286/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../home/kerryck/.rvm/gems/ruby-1.9.3-p286/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../home/kerryck/.rvm/gems/ruby-1.9.3-p286/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../home/kerryck/.rvm/gems/ruby-1.9.3-p286/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../home/kerryck/.rvm/gems/ruby-1.9.3-p286/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../home/kerryck/.rvm/gems/ruby-1.9.3-p286/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../home/kerryck/.rvm/gems/ruby-1.9.3-p286/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../home/kerryck/.rvm/gems/ruby-1.9.3-p286/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../home/kerryck/.rvm/gems/ruby-1.9.3-p286/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: Purisa;
  src: url(/resources/fonts/Purisa.ttf) format("truetype");
}

/* line 35, ../_sass/main.scss */
html {
  height: 100%;
}

/* line 37, ../_sass/main.scss */
body {
  background-color: #EDEFF4;
  height: 100%;
  text-align: center;
  padding: 0 10%;
}
/* line 42, ../_sass/main.scss */
body section {
  clear: both;
  max-width: 780px;
  margin: 0 auto;
  text-align: left;
}
/* line 47, ../_sass/main.scss */
body section a {
  color: black;
  text-decoration: none;
}
/* line 49, ../_sass/main.scss */
body section .link-list {
  background: #37DC74;
  position: relative;
  width: 109%;
  left: -4.5%;
  text-align: center;
  margin: 0 0 7px 0;
}
/* line 56, ../_sass/main.scss */
body section .link-list:before, body section .link-list:after {
  content: " ";
  border-style: solid;
  border-width: 15px;
  height: 0;
  width: 0;
  position: absolute;
  z-index: -1;
  bottom: -15px;
}
/* line 66, ../_sass/main.scss */
body section .link-list:before {
  border-color: transparent #203d2b transparent transparent;
  left: -15px;
}
/* line 70, ../_sass/main.scss */
body section .link-list:after {
  border-color: transparent transparent transparent #203d2b;
  right: -15px;
}
/* line 74, ../_sass/main.scss */
body section .link-list li {
  font-family: Purisa;
  display: inline-block;
  padding: 7px;
}
/* line 78, ../_sass/main.scss */
body section .link-list li a {
  color: black;
  text-decoration: none;
}
/* line 84, ../_sass/main.scss */
body section #content {
  font-size: 20px;
  font-family: "Trebuchet MS", Georgia, Verdana, Arial, sans-serif;
  background: white;
  padding: 3%;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  border: 1px solid darkgrey;
}
/* line 93, ../_sass/main.scss */
body section #content p {
  text-indent: 4em;
  line-height: 1.5em;
  padding-bottom: 1em;
}

/* line 102, ../_sass/main.scss */
header {
  margin: 0 -8%;
  font-family: Purisa;
}
/* line 104, ../_sass/main.scss */
header div {
  width: 150px;
}
/* line 108, ../_sass/main.scss */
header .llap {
  float: left;
  background-image: url("../img/live-long-and-prosper.png");
  height: 100px;
  width: 100px;
  -webkit-animation-name: rotate;
  -moz-animation-name: rotate;
  -ms-animation-name: rotate;
  -o-animation-name: rotate;
  animation-name: rotate;
  -webkit-animation-duration: 10s;
  -moz-animation-duration: 10s;
  -ms-animation-duration: 10s;
  -o-animation-duration: 10s;
  animation-duration: 10s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -ms-animation-timing-function: linear;
  -o-animation-timing-function: linear;
  animation-timing-function: linear;
  -moz-animation-name: rotate;
}
/* line 121, ../_sass/main.scss */
header div.bicepts {
  float: right;
  height: 116px;
  background-image: url("../img/HTML5cepts_small.png");
}
/* line 127, ../_sass/main.scss */
header div.title {
  font-size: 23px;
  padding-top: 2em;
  margin: auto;
  width: 500px;
}

@-webkit-keyframes rotate {
  /* line 137, ../_sass/main.scss */
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  /* line 138, ../_sass/main.scss */
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-moz-keyframes rotate {
  /* line 137, ../_sass/main.scss */
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  /* line 138, ../_sass/main.scss */
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-ms-keyframes rotate {
  /* line 137, ../_sass/main.scss */
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  /* line 138, ../_sass/main.scss */
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-o-keyframes rotate {
  /* line 137, ../_sass/main.scss */
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  /* line 138, ../_sass/main.scss */
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotate {
  /* line 137, ../_sass/main.scss */
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  /* line 138, ../_sass/main.scss */
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* line 142, ../_sass/main.scss */
footer {
  clear: both;
  font-size: 10px;
  color: grey;
  padding: 3px;
}

/* line 149, ../_sass/main.scss */
mark {
  background: rgba(0, 0, 0, 0);
  -webkit-transition: background 0.25s ease-in;
  -moz-transition: background 0.25s ease-in;
  -o-transition: background 0.25s ease-in;
  transition: background 0.25s ease-in;
}

/* line 156, ../_sass/main.scss */
.highlight-do .do,
.highlight-make .make,
.highlight-contact .contact {
  background: rgba(55, 220, 116, 0.7);
}
