/* line 17, ../../../../../../var/lib/gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../../var/lib/gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../../var/lib/gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../../var/lib/gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../../var/lib/gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../../var/lib/gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../../var/lib/gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../../var/lib/gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../../../var/lib/gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: Purisa;
  src: url(/resources/fonts/Purisa.ttf) format("truetype");
}

/* line 13, ../_sass/main.scss */
html {
  height: 100%;
}

/* line 15, ../_sass/main.scss */
body {
  background-color: #EDEFF4;
  height: 100%;
  text-align: center;
}
/* line 20, ../_sass/main.scss */
body section {
  clear: both;
  width: 740px;
  margin: 0 auto;
  text-align: left;
}
/* line 26, ../_sass/main.scss */
body section .link-list {
  font-family: Purisa;
  width: 17%;
  float: left;
  font-size: 85%;
}
/* line 32, ../_sass/main.scss */
body section .link-list li {
  padding-left: 2em;
}
/* line 34, ../_sass/main.scss */
body section .link-list li a {
  color: black;
  text-decoration: none;
}
/* line 39, ../_sass/main.scss */
body section .link-list li:first-child {
  padding-left: 0px;
}
/* line 44, ../_sass/main.scss */
body section #content {
  float: right;
  width: 77%;
  font-size: 20px;
  font-family: "Trebuchet MS", Georgia, Verdana, Arial, sans-serif;
  background: white;
  padding: 3%;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
  -moz-box-shadow: darkgrey;
  -webkit-box-shadow: darkgrey;
  -o-box-shadow: darkgrey;
  box-shadow: darkgrey;
}
/* line 55, ../_sass/main.scss */
body section #content p {
  text-indent: 4em;
  line-height: 1.5em;
  padding-bottom: 1em;
}

/* line 64, ../_sass/main.scss */
header {
  font-family: Purisa;
}
/* line 65, ../_sass/main.scss */
header div {
  width: 150px;
  margin: 0 5%;
}
/* line 70, ../_sass/main.scss */
header div.name {
  float: left;
  font-size: 150%;
  padding: 1.5em 0;
}
/* line 76, ../_sass/main.scss */
header div.bicepts {
  float: right;
  height: 116px;
  background-image: url("../img/HTML5cepts_small.png");
}
/* line 82, ../_sass/main.scss */
header nav {
  font-size: 18px;
  padding-top: 3em;
  display: inline-block;
}
/* line 86, ../_sass/main.scss */
header nav a {
  color: black;
}

/* line 94, ../_sass/main.scss */
footer {
  clear: both;
  font-size: 10px;
  color: grey;
  padding: 3px;
}

/* line 101, ../_sass/main.scss */
mark {
  background: rgba(255, 0, 0, 0);
  -moz-transition: background 1s ease-in;
  -webkit-transition: background 1s ease-in;
  -o-transition: background 1s ease-in;
  transition: background 1s ease-in;
}
